*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    /* background-image: linear-gradient(to right,#77A1D3,#79CBCA,#E684AE) !important; */
    background-color: black !important;
}

/* End global rules */
.app h1 {
    padding: 30px 40px;
    border-bottom: 1px solid #eee;
    color: white;
    font-style: italic;
    background-color: #333;
    text-align: center;
}
.my-carts {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
    padding: 20px;
}
.my-cart {
    padding: 35px 40px;
    color: #eee;
    text-align: center;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #333;
}
@media (max-width: 1037px) {
    .my-cart {
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }
}
.my-cart .img {
    width: 230px;
    height: 180px;
    margin: auto;
    margin-bottom: 20px;
}
.my-cart .img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.my-cart .content {
    margin-bottom: 30px;
    height: 200px;
}
@media (max-width: 676px) {
    .my-cart .content {
        height: fit-content;
    }
}
.my-cart .content h3 {
    color: white;
    margin-bottom: 15px;
    font-style: italic;
}
.my-cart .amount {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}
.my-cart .plus ,
.my-cart .minus {
    background-color: #ccc;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
    color: #333;
    cursor: pointer;
}
.my-cart .count {
    margin: 0 20px;
    color: #eee;
    font-weight: bold;
}
.my-cart i {
    cursor: pointer;
    color: rgb(255, 122, 198);
    font-size: 30px;
}


